body {
    background-image: url(loginheroimg.jpg);
    background-size: cover;
    margin: 0;
    z-index: 1;
}

/* Menu bar */
.menubar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-family: "Cormorant Garamond", serif; 
    border-bottom: #0b0481 solid 2px;
    background: white;
}

.menuli{
    text-decoration: none;
    color: #3e6d8d;
    font-size: 16px;
    transition: 0.3s;
    font-size: 20px;
    
}

.menuli:hover {
    text-decoration: underline;
    color: #3e6d8d;
    transition: 0.3s;
    font-size: 22px;
}

.menuli img {
    height: 150px;
    margin-top: 0;
}

/* Login */
.login {
    border: #3e6d8d solid 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: #3e6d8d;
    font-size: 20px;
    border-radius: 10px;
}

.login:hover {
    background-color: #3e6d8d;
    color: #e1e7f1;
    transition: 0.3s;
    border: #3e6d8d solid 2px;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdownbtn{
    background-color: rgba(255, 228, 196, 0);
    color: #3e6d8d;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif; 
    font-size: 20px;
    transition: 0.3s;
}
.dropdownbtn:hover {
    text-decoration: underline;
    color: #3e6d8d;
    transition: 0.3s;
    font-size: 22px;
}

.dropdownbtn:hover span {
    transform: rotate(200deg);
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(245, 245, 220, 0);
    min-width: 200px;
}

.dropdown-content a{
    color: #3e6d8d;
    padding: 10px;
    text-decoration: none;
    display: block;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 5px;
    border: #0b0481 solid 1px;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f100;
    text-decoration: underline;
    background-color: #5394ee71;
    transition: 0.3s;
}
.arrow{
    color: #3e6d8d;
}

/* Login Box */
.loginbox {
    display: flex;
    width: 900px;
    height: 700px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: #0b0481 solid 2px;
    border-radius: 22px;
    margin: auto;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 190px;
}

.loginbox ul {
    list-style: none;
    margin: auto;
    padding-left: 0;
}

.loginbox h3 {
    font-size: 50px;
    font-family: "Cormorant Garamond", serif; 
    color: #0b0481;
}

.email22 {
    margin-top: 150px;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    color: #0b0481;
}

#email {
    width: 155px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    border: none;
    border: #5394ee71 solid 2px;
}

.pass22 {
    margin-top: 50px;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    color: #0b0481;
}

#password {
    width: 155px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    border: none;
    border: #5394ee71 solid 2px;
}

.lgin { 
    width: 125px;
    height: 40px;
    border-radius: 12px;
    border: none;
    margin-top: 40px;
    background-color: #3e6d8d;
    font-size: 16px;
    color: white;
    transition: 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.lgin:hover {
    background-color: #30566f;
    transition: 0.2s;
    transform: translateY(-2px) scale(1.03);   
    transition: 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.fp {
    margin-top: 40px;
    font-family: "Quicksand", sans-serif;
}

.dhaa {
    margin-top: 40px;
    font-family: "Quicksand", sans-serif;
}

/* Footer */
.fter {
    display: flex;
    background-color: #324b6d;
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    font-weight: lighter;
    padding: 40px;
    height: 200px;
}

.emails1 {
    list-style: none;
}

.fter img {
    height: 100px;
    margin: 0;
}

.fter h3 {
    color: white;
    font-weight: lighter;
    margin-bottom: 50px;
}

.fter li {
    color: #b7d1ec;
    margin-left: 20px;
    margin-top: 5px;
}

.subforms {
    text-align: left;
}

.subforms li {
    list-style: none;
}

.submit {
    background-color: #6299bf;
    border-radius: 5px;
    height: 35px;
    width: 250px;
    margin-top: 15px;
    border: none;
    font-family: "Cormorant Garamond", serif; 
    font-size: 16px;
    color: white;
    font-weight: lighter;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.submit:hover {
    background-color: #6298bfc1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px) scale(1.03);
    transition: 0.3s;
}

.subforms li {
    margin: 0;
}

#emailsub {
    width: 241px;
    height: 30px;
    border-radius: 5px;
    font-family: "Cormorant Garamond", serif; 
    font-size: 15px;
    padding-left: 5px;
}

.iconbottom {
    margin-top: 50px;
    display: flex;
    height: 100px;
}

.pno {
    color: #b7d1ec;
}

.res li {
    list-style: none;
}

.page {
    margin-top: 200px;
    justify-content: center;
    display: flex;
    background-color: #324b6d;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
}

.fter2 {
    background-color: #324b6d;
    height: 200px;
    display: grid;
}

.iconbottom {
    display: flex;
    justify-content: center;
}

.fter2 img {
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.fter2 hr {
    width: 40%;
    margin-top: 60px;
}


.fter3 {
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: center;
    background-color: #324b6d;
    gap: 0;
    display: grid;
}


@media (max-width: 992px) {
    .fter{
        flex-wrap: wrap;
        gap: 30px;
        height: auto;
    }

    .loginbox {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .fter{
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: auto;
    }

    .fter2 hr{
        width: 70%;
    }

    .iconbottom{
        gap: 20px;
    }
    
    .loginbox {
        width: 450px;
    }

    .menubar{
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .dropdown-content a{
        display: flex;
        justify-content: center;
    }

    .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown-content {
        margin-top: 50px;
    }
}